<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="styles/about.css" type="text/css">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
            <style>
                
            body{
                background-image: url("images/background.jpg");
                background-size:cover;
                padding: 5px;
            }
            </style>

</head>

<body>

<br />
<br />

<p align="center">
<font size="10" color="MediumTurquoise"><strong> Hello!<br />My name is Nhat, an iOS developer.</strong></font>
</p>

<br />
<br />

<div align="center">
    <form name="About" action="/aboutMe" method="get" style=center>
<button class="largebox">About Me</button>
</div>

<br />

<div align="center">
    <form name="Blog" action="/blog" method="get" style=center>
<button class="largebox">Blog</button>
</div>

</body>
</html>
