<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>NhatLe's Resume</title>
    
</head>

<body>
    
    <p><i>This was last updated in April 2018.  It may be out of date.
        If you want me to update it or have any questions, please contact me
        by email at: <a href="mailto:lenhathk@gmail.com">lenhathk@gmail.com</a>.</i></p>
    
    
    <h1>Nhật Lê</h1>
    <a href="mailto:lenhathk@gmail.com"><tt>lenhathk@gmail.com</tt></a><br>
    <!-- <a href="https://swiftwithlove-swiftwithlove.vapor.cloud/"><tt>Link to my website</tt></a><br> -->
    HCM city Pedagogical University, Computer Science<br>
    
    <p>My overall objective is to become a full stack developer. I especially love Swift and will use it to develop iOS/MacOS/Website applitions and also use it to write api web services for my applications. I also like to learn new technologies and new programming languages.</p>
    </p>
    
    
    
     <h2>Resume Contents:</h2>
     <ul>
     <li><a href="https://swiftwithlove-swiftwithlove.vapor.cloud/resume#workhistory">Work History</a></li>
     <li><a href="https://swiftwithlove-swiftwithlove.vapor.cloud/resume#education">Education</a></li>
     </ul>
     
    
    <h2><a name="workhistory">Work History</a></h2>
    
    <h3><a name="Monster Pixel">Monster Pixel</a></h3>
    
    <ul>
        <li>
            <b>Pianomarvel</b><br>
            May 10, 2017 - Present
            
            <p>I joined Monster Pixel and working on Pianomarvel project.</p>
            
            <ul>
                <li>Pianomarvel use to teaching user play musical instrument</li>
                
                <li>This can parse and load music xml, analysis and play midi file base on tempo.</li>
                
                <li>This can play at wait mode, wait for user press all the wrong notes to move on /li>
                    
                    <li>This can play at access mode, user can play all the song and then the application will record all midi events and then after finish the song, it will compare to score for this song</li>
                    
                    <li>Currently it just support good and tested on Piano. And still develop to support for drum</li>
                    
                    
            </ul>
            
            <p>
            Overall I learned a lot, worked hard, met a lot of great people, and
            had a lot of fun.
            </p>
            
        </li></ul>
    
    <h3><a name="Apps-Cyclone">Apps-Cyclone</a></h3>
    
    <ul>
        
        <li><b>Swoppler</b><br>
            
            <p>This is one of many projects I joined to develop. The team size of this project is six member</p><p>
            
            <ul>
                <li>This is ecommerce social application</li>
                <li>Users can buy or exchange things. And can pay via Paypal.</li>
                <li><a href="https://itunes.apple.com/us/app/swoppler/id1081741755?mt=8" target="_blank">App On AppStore</a></li>
            </ul>
            
            <br />
            <br />
            
            <li><b>Honestbee</b><br>
            <p>This is ecommerce social application of Singapor customer. First time when we develop this app we have four mobile guys at Viet Nam and three guys in Singapor. We work realy hard and then the project become one of the biggest ecommerce social product today.</p>
            
            
            <ul>
                <li>This help users stay at home and collect things in supermarket and buy them.</li>
                <li><a href="https://itunes.apple.com/sg/app/id1001581823?mt=8" target="_blank">App On AppStore</a></li>
            </ul>
            
            
            
            
            <h2><a name="education">Education</a></h2>
            
            <p>
            <b>
                Bachelor of Software Engineering
                </p>
                <ul>
                    <li>Computer Science: 2007 - 2011<br>
                        </p>
                        
</body></html>
