<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>NhatLe's Resume</title>
    
</head>

<body>
    
    <p><i>This was last updated in April 2018.  It may be out of date.
        If you want me to update it or have any questions, please contact me
        by email at: <a href="mailto:lenhathk@gmail.com">lenhathk@gmail.com</a>.</i></p>
    
    
    <h1>NhatLe</h1>
    <a href="mailto:lenhathk@gmail.com"><tt>lenhathk@gmail.com</tt></a><br>
    <a href="https://swiftwithlove-swiftwithlove.vapor.cloud/"><tt>Link to my website</tt></a><br>
    HCM city Pedagogical University, Computer Science<br>
    
    <p>My overall objective is to become a full stack developer. I especially love Swift and will use it to develop iOS/MacOS/Website applition and also use it to write api webservice for my applications. I also like to learn new technologies and new programming languages.</p>
    </p>
    
    
    
     <h2>Resume Contents:</h2>
     <ul>
     <li><a href="https://swiftwithlove-swiftwithlove.vapor.cloud/resume.html#workhistory">Work History</a></li>
     <li><a href="https://swiftwithlove-swiftwithlove.vapor.cloud/resume.html#education">Education</a></li>
     </ul>
     
    
    <h2><a name="workhistory">Work History</a></h2>
    
    <h3><a name="Monster Pixel">Monster Pixel</a></h3>
    
    <ul>
        <li>
            <b>Pianomarvel</b><br>
            May 10, 2017 - Present
            
            <p>
            When I joined Monster Pixel I am working on two project but may main job is develop Pianomarvel application</p>
            
            <ul>
                <li>Pianomarvel use to teaching user play musical instrument</li>
                
                <li>This can parse and load music xml, analysis and play midi file base on tempo.</li>
                
                <li>This can play at wait mode, wait for user press all the wrong notes to move on /li>
                    
                    <li>This can play at access mode, user can play all the song and then the application will record all midi events and then after finish the song, it will compare to score for this song</li>
                    
                    <li>Currently it just support good and tested on Piano. And still develop to support for drum</li>
                    
                    
            </ul>
            
            <p>
            Overall I learned a lot, worked hard, met a lot of great people, and
            had a lot of fun.
            </p>
            
        </li></ul>
    
    <h3><a name="Apps-Cyclone">Apps-Cyclone</a></h3>
    
    <ul>
        
        <li>Apps-Cyclone: develop many out source projects<br>
            <b>Senior iOS developer</b><br>
            July 2015 - May 2017
            
            <p>I joined the company and develop many out source project. I user Objective C and Swift to write iOS applications</p><p>
            
            </p><p>I also mentor some junior developers.</p>
            
            <h2><a name="education">Education</a></h2>
            
            <p>
            <b>
                Bachelor of Software Engineering
                </p>
                <ul>
                    <li>Computer Science: 2007 - 2011<br>
                        </p>
                        
</body></html>
