/* Common styles */
/*.body { color: black; background: white; margin: 0 0 0 0 }*/

/* No borders on image links */
a:link img, a:visited img {border-style: none}

.title {
    color: black;
    font-family: "Georgia,Palatino,Times,Roman"; font-weight: bold;
    text-align: center;
    font-size: 28pt;
}

.box { border: solid 1px MediumTurquoise;
    background: #eeeeee;
    padding: 0 0.5em 0 0.5em;
    display:table;
    font-size:16pt;
    font-weight: bold;
    color: black;
}

.largebox { border: solid 1px MediumTurquoise;
    background: rgb(66, 156, 214);;
    padding: 0 0.5em 0 0.5em;
    display:table;
    font-size:28pt;
    font-weight: normal;
    font-family:"Comic Sans MS";
    color: white;
}

#rcorners1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

#rcorners3 {
    border-radius: 25px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 200px;
    height: 150px;
}

.text {
    text-align: left;
    padding-left: 25pt;
    color:black;
}

address img { float: right; width: 88px; height: 31px; }
address     { clear: right; }
